@model IEnumerable<Category>

<div class="text-center">
  <div class="display-6 my-3">Categories</div>
  <div class="d-flex justify-content-end my-3">
    <a class="btn btn-outline-success" asp-action="Create">
        <i class="fa fa-plus"></i>
        Create
    </a>
  </div>

  <table class="table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th style="text-align: left;">Category Name</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var category in @Model)
      {
      <tr>
        <td>@category.CategoryId</td>
        <td style="text-align: left;">@category.CategoryName</td>
        <td>
          <div class="btn-group">
            <a class="btn btn-outline-warning" asp-action="Update" asp-route-id="@category.CategoryId"
              data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Edit" data-bs-custom-class="tooltip-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@category.CategoryId"
              data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Delete" data-bs-custom-class="tooltip-danger">
              <i class="fa fa-trash"></i>
            </a>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

