/* html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
} */

/*
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
*/

html {
  position: relative;
  min-height: 100%;
}


body {
  /* margin-bottom: 60px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

 */
tbody > tr:last-child > td {
    border-bottom: 0;
}

.custom-file-button input[type="file"] {
  margin-left: -2px !important;
}

.custom-file-button input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.custom-file-button input[type="file"]::file-selector-button {
  display: none;
}

.custom-file-button:hover label {
  background-color: inherit;
  cursor: pointer;
}

.tooltip-success {
  --bs-tooltip-bg: var(--bs-success);
  --bs-tooltip-color: var(--bs-light);
}
.tooltip-danger {
  --bs-tooltip-bg: var(--bs-danger);
  --bs-tooltip-color: var(--bs-light);
}
.tooltip-warning {
  --bs-tooltip-bg: var(--bs-warning);
  --bs-tooltip-color: var(--bs-black);
}
.tooltip-info {
  --bs-tooltip-bg: var(--bs-info);
  --bs-tooltip-color: var(--bs-black);
}

tbody > tr:last-child > td {
  border-bottom: 0;
}
