@page "/getintouch"

@{
  ViewData["Title"] = "Contact with us";
}

@section Styles{
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 32px auto;
    grid-template-rows: auto;
    column-gap: 8px;
    row-gap: 16px;
    align-items: center;
    place-content: center;
    justify-items: stretch;
    grid-template-areas:
      "icon text";
  }

</style>
}

<div class="text-center my-3">
  <h6 class="display-6">Contact</h6>
</div>

<div class="grid-container">
  <i class="fa fa-phone bg-white text-primary p-2 rounded-5"></i>
  <div>
    ALO cikcik destek hattı
  </div>

  <i class="fa fa-envelope bg-white text-success p-2 rounded-5"></i>
  <div>
    <email>destek</email>
  </div>

  <i class="fa fa-location-dot bg-white text-danger p-2 rounded-5"></i>
  <div>
    Kuş Teknolojileri ve İletişim Kurumu Yemlik Caddesi Limon Sokak No: 276 Kuşadası/Aydın
  </div>
</div>
