@page "/getintouch"

@{
ViewData["Title"] = "Contact with us";
}
<div class="text-center my-3">
  <h6 class="display-6">Contact</h6>
</div>

<div class="my-3">
  <p class="mt-3 d-flex align-items-center gap-2">
    <i class="fa fa-phone bg-white text-primary p-2 rounded-5  "></i>
    <span>ALO cikcik destek hattı</span>
  </p>

  <p class="mt-3 d-flex align-items-center gap-2">
    <i class="fa fa-envelope bg-white text-success p-2 rounded-5 "></i>
    <email>destek</email>
  </p>

  <p class="mt-3 d-flex align-items-center gap-2">
    <i class="fa fa-location-dot bg-white text-danger p-2 rounded-5"></i>
    <span>Kuş Teknolojileri ve İletişim Kurumu<br />Yemlik Caddesi Limon Sokak No: 276 Kuşadası/Aydın</br></span>
  </p>
</div>
</div>
