@model ChangePasswordDto

<div class="text-center">
    <div class="display-6 my-3">Change password</div>
</div>

<div class="text-danger" asp-validation-summary="All"></div>
<form method="post" asp-action="ChangePassword">
    <input type="hidden" asp-for="UserId">
    <div class="form-floating my-3">
        <input asp-for="Password" class="form-control">
        <label asp-for="Password"></label>
    </div>
    <div class="form-floating my-3">
        <input asp-for="ConfirmPassword" class="form-control">
        <label asp-for="ConfirmPassword"></label>
    </div>
    <div class="btn-group">
        <a class="btn btn-outline-primary" asp-action="Index">
            <i class="fa-solid fa-arrow-left"></i>
            Back
        </a>
        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-key"></i>
            Change password
        </button>
    </div>
</form>
